# Additional packages useful for development
django-extensions
ipython
django-debug-toolbar      # debug
pytest-django==3.8.0      # test
pytest==5.3.5             # via pytest-django
coverage                  # test coverage