{% extends "base.html" %}
{% block title %}Ads maker{% endblock %}
{% block header %}Ads maker{% endblock %}
{% block content %}

In our base we already discovered some sites
    {% for key, value in context.sites.items %}
    <h3>{{ forloop.counter }}. {{ value.url }}</h3>
    <p>created: {{ value.created_at}}</p>
    <p>updated: {{ value.updated_at}}</p>
    {% endfor %}

Ad site

<form action="/ads_maker/" method="post">
    {% csrf_token %}
    {{ context.form }}


    <input type="submit" value="OK">
</form>



{% endblock %} 