Django
psycopg2

ultimate-sitemap-parser # https://github.com/mediacloud/ultimate-sitemap-parser 2 delete, i think

site-map-parser
lxml==4.4.1
pytest-cov==2.8.1
requests-mock==1.7.0
python-dateutil==2.8.1

requests # requests!!!
beautifulsoup4 # beautifulsoop

# git+git://github.com/sehmaschine/django-grappelli.git#egg=django-grappelli
# git+git://github.com/django-mptt/django-mptt.git#egg=django-mptt
# git+git://github.com/krvss/django-social-auth.git#django-social-auth
# git+git://github.com/gabrielhurley/django-wymeditor.git#django-wymeditor
# #git+git://github.com/jtauber/django-mailer.git#django-mailer
# git+git://github.com/tweepy/tweepy.git#tweepy
# django-celery
# django-debug-toolbar
# django-pdb
# python-memcached
# xlrd
# unidecode
# anyjson
# gunicorn
# pillow
# south
# fabric
# xlwt
