{% extends "base.html" %}
{% block title %}Ads maker{% endblock %}
{% block header %}Ads maker{% endblock %}
{% block content %}
  Ad site
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
  </form>

  In our base we've already discovered some sites
  {% for site in sites %}
    <h3>{{ forloop.counter }}. {{ site.url }}</h3>
    <p>Status: {{ site.status }}</p>
    <p>created: {{ site.created_at}}</p>
    <p>updated: {{ site.updated_at}}</p>
  {% endfor %}

  {% if sites.has_other_pages %}
    {% include "paginator.html" with items=sites paginator=paginator%}
  {% endif %}

{% endblock %}